baseURL = "http://eastash.me/"

# Change the default theme to be use when building the site with Hugo
theme = "loveit"

# website title
title = "EastAsh의 개발자국"

# determines default content language ["en", "zh-cn", "fr", "pl", ...]
defaultContentLanguage = "ko"
# language code ["en", "zh-CN", "fr", "pl", ...]
languageCode = "ko"
# language name ["English", "简体中文", "Français", "Polski", ...]
languageName = "한국어"
# whether to include Chinese/Japanese/Korean
hasCJKLanguage = true

enableEmoji = true

# Author config
[author]
name = "EastAsh"
email = "louiminister@gmail.com"
link = ""

# Menu config
[menu]
[[menu.main]]
weight = 1
identifier = "posts"
# you can add extra information before the name (HTML format is supported), such as icons
pre = ""
# you can add extra information after the name (HTML format is supported), such as icons
post = ""
name = "포스트"
url = "/posts/"
# title will be shown when you hover on this menu link
title = ""
[[menu.main]]
weight = 2
identifier = "tags"
pre = ""
post = ""
name = "태그"
url = "/tags/"
title = ""
[[menu.main]]
weight = 3
identifier = "categories"
pre = ""
post = ""
name = "카테고리"
url = "/categories/"
title = ""

# Markup related configuration in Hugo
[markup]
# Syntax Highlighting (https://gohugo.io/content-management/syntax-highlighting)
[markup.highlight]
# false is a necessary configuration (https://github.com/dillonzq/LoveIt/issues/158)
noClasses = false


[languages]
[languages.ko]
weight = 1
title = "EastAsh의 개발자국"
languageCode = "ko"
languageName = "Korean"
[[languages.ko.menu.main]]
weight = 1
identifier = "posts"
pre = ""
post = ""
name = "포스트"
url = "/posts/"
title = ""
[[languages.ko.menu.main]]
weight = 2
identifier = "tags"
pre = ""
post = ""
name = "태그"
url = "/tags/"
title = ""
[[languages.ko.menu.main]]
weight = 3
identifier = "categories"
pre = ""
post = ""
name = "카테고리"
url = "/categories/"
title = ""
[languages.en]
weight = 1
title = "EastAsh's Dev Foodprints"
languageCode = "en"
languageName = "English"
[[languages.en.menu.main]]
weight = 1
identifier = "posts"
pre = ""
post = ""
name = "Posts"
url = "/posts/"
title = ""
[[languages.en.menu.main]]
weight = 2
identifier = "tags"
pre = ""
post = ""
name = "Tags"
url = "/tags/"
title = ""
[[languages.en.menu.main]]
weight = 3
identifier = "categories"
pre = ""
post = ""
name = "Categories"
url = "/categories/"
title = ""


[params]
    # site default theme ["auto", "light", "dark"]
    defaultTheme = "auto"
    # public git repo url only then enableGitInfo is true
    gitRepo = ""
    # which hash function used for SRI, when empty, no SRI is used
    # ["sha256", "sha384", "sha512", "md5"]
    fingerprint = ""
    # date format
    dateFormat = "2006-01-02"
    # website title for Open Graph and Twitter Cards
    title = "EastAsh의 개발자국"
    # website description for RSS, SEO, Open Graph and Twitter Cards
    description = "숲을 그리는 개발자가 되어보주아"
    # website images for Open Graph and Twitter Cards
    images = []

    [params.header]
    # desktop header mode ["fixed", "normal", "auto"]
    desktopMode = "fixed"
    # mobile header mode ["fixed", "normal", "auto"]
    mobileMode = "auto"
    # Header title config
    [params.header.title]
    # URL of the LOGO
    logo = ""
    # title name
    name = "EastAsh의 개발자국"
    # you can add extra information before the name (HTML format is supported), such as icons
    pre = ""
    # you can add extra information after the name (HTML format is supported), such as icons
    post = ""
    # whether to use typeit animation for title name
    typeit = false

    [params.home]
        # amount of RSS pages
        rss = 10
            # Home page profile
            [params.home.profile]
            enable = true
            # Gravatar Email for preferred avatar in home page
            gravatarEmail = ""
            # URL of avatar shown in home page
            avatarURL = ""
            # title shown in home page (HTML format is supported)
            title = ""
            # subtitle shown in home page (HTML format is supported)
            subtitle = "숲을 그리는 개발자가 되어보주아"
            # whether to use typeit animation for subtitle
            typeit = true
            # whether to show social links
            social = true
            # disclaimer (HTML format is supported)
            disclaimer = ""
            # Home page posts
            [params.home.posts]
            enable = true
            # special amount of posts in each home posts page
            paginate = 6
            # Social config in home page
    [params.social]
    GitHub = "LouiMinister"
    Linkedin = ""
    Instagram = "eastash_lee"
    Steam = ""

[params.page]
    # whether to hide a page from home page
    # 是否在主页隐藏一篇文章
    hiddenFromHomePage = false
    # whether to hide a page from search results
    # 是否在搜索结果中隐藏一篇文章
    hiddenFromSearch = false
    # whether to enable twemoji
    # 是否使用 twemoji
    twemoji = true
    # whether to enable lightgallery
    # 是否使用 lightgallery
    lightgallery = true
    # whether to enable the ruby extended syntax
    # 是否使用 ruby 扩展语法
    ruby = true
    # whether to enable the fraction extended syntax
    # 是否使用 fraction 扩展语法
    fraction = true
    # whether to enable the fontawesome extended syntax
    # 是否使用 fontawesome 扩展语法
    fontawesome = true
    # whether to show link to Raw Markdown content of the content
    # 是否显示原始 Markdown 文档内容的链接
    linkToMarkdown = true
    # whether to show the full text content in RSS
    # 是否在 RSS 中显示全文内容
    rssFullText = false
    # Table of the contents config
    # 目录配置
        [params.page.toc]
        # whether to enable the table of the contents
        # 是否使用目录
        enable = true
        # whether to keep the static table of the contents in front of the post
        # 是否保持使用文章前面的静态目录
        keepStatic = false
        # whether to make the table of the contents in the sidebar automatically collapsed
        # 是否使侧边目录自动折叠展开
        auto = true
        # Code config
        # 代码配置
        [params.page.code]
        # whether to show the copy button of the code block
        # 是否显示代码块的复制按钮
        copy = true
        # the maximum number of lines of displayed code by default
        # 默认展开显示的代码行数
        maxShownLines = 50
        # KaTeX mathematical formulas config (KaTeX https://katex.org/)
        # KaTeX 数学公式配置 (KaTeX https://katex.org/)
        [params.page.math]
        enable = false
        # default inline delimiter is $ ... $ and \( ... \)
        # 默认行内定界符是 $ ... $ 和 \( ... \)
        inlineLeftDelimiter = ""
        inlineRightDelimiter = ""
        # default block delimiter is $$ ... $$, \[ ... \], \begin{equation} ... \end{equation} and some other functions
        # 默认块定界符是 $$ ... $$, \[ ... \],  \begin{equation} ... \end{equation} 和一些其它的函数
        blockLeftDelimiter = ""
        blockRightDelimiter = ""
        # KaTeX extension copy_tex
        # KaTeX 插件 copy_tex
        copyTex = true
        # KaTeX extension mhchem
        # KaTeX 插件 mhchem
        mhchem = true
        # Mapbox GL JS config (Mapbox GL JS https://docs.mapbox.com/mapbox-gl-js)
        # Mapbox GL JS 配置 (Mapbox GL JS https://docs.mapbox.com/mapbox-gl-js)
        [params.page.mapbox]
        # access token of Mapbox GL JS
        # Mapbox GL JS 的 access token
        accessToken = ""
        # style for the light theme
        # 浅色主题的地图样式
        lightStyle = "mapbox://styles/mapbox/light-v10?optimize=true"
        # style for the dark theme
        # 深色主题的地图样式
        darkStyle = "mapbox://styles/mapbox/dark-v10?optimize=true"
        # whether to add NavigationControl (https://docs.mapbox.com/mapbox-gl-js/api/#navigationcontrol)
        # 是否添加 NavigationControl (https://docs.mapbox.com/mapbox-gl-js/api/#navigationcontrol)
        navigation = true
        # whether to add GeolocateControl (https://docs.mapbox.com/mapbox-gl-js/api/#geolocatecontrol)
        # 是否添加 GeolocateControl (https://docs.mapbox.com/mapbox-gl-js/api/#geolocatecontrol)
        geolocate = true
        # whether to add ScaleControl (https://docs.mapbox.com/mapbox-gl-js/api/#scalecontrol)
        # 是否添加 ScaleControl (https://docs.mapbox.com/mapbox-gl-js/api/#scalecontrol)
        scale = true
        # whether to add FullscreenControl (https://docs.mapbox.com/mapbox-gl-js/api/#fullscreencontrol)
        # 是否添加 FullscreenControl (https://docs.mapbox.com/mapbox-gl-js/api/#fullscreencontrol)
        fullscreen = true
        # Social share links in post page
        # 文章页面的分享信息设置
        [params.page.share]
        enable = true
        Twitter = true
        Facebook = true
        Linkedin = false
        Whatsapp = false
        Pinterest = false
        Tumblr = false
        HackerNews = true
        Reddit = false
        VK = false
        Buffer = false
        Xing = false
        Line = true
        Instapaper = false
        Pocket = false
        Flipboard = false
        Weibo = true
        Blogger = false
        Baidu = false
        Odnoklassniki = false
        Evernote = false
        Skype = false
        Trello = false
        Mix = false
        # Comment config
        # 评论系统设置
        [params.page.comment]
        enable = true
        # Disqus comment config (https://disqus.com/)
        # Disqus 评论系统设置 (https://disqus.com/)
        [params.page.comment.disqus]
        enable = false
        # Disqus shortname to use Disqus in posts
        # Disqus 的 shortname，用来在文章中启用 Disqus 评论系统
        shortname = ""
        # Gitalk comment config (https://github.com/gitalk/gitalk)
        # Gitalk 评论系统设置 (https://github.com/gitalk/gitalk)
        [params.page.comment.gitalk]
        enable = true
        owner = "LouiMinister"
        repo = "https://github.com/LouiMinister/hugo-blog"
        clientId = "b45efb66cd7a918b5956"
        clientSecret = "12cbc718a3c3473e481323648aeea6f17a1fdb4b"
        # Valine comment config (https://github.com/xCss/Valine)
        # Valine 评论系统设置 (https://github.com/xCss/Valine)
        [params.page.comment.valine]
        enable = false
        appId = ""
        appKey = ""
        placeholder = ""
        avatar = "mp"
        meta= ""
        pageSize = 10
        # automatically adapt the current theme i18n configuration when empty
        # 为空时自动适配当前主题 i18n 配置
        lang = ""
        visitor = true
        recordIP = true
        highlight = true
        enableQQ = false
        serverURLs = ""
        # emoji data file name, default is "google.yml"
        # ["apple.yml", "google.yml", "facebook.yml", "twitter.yml"]
        # located in "themes/LoveIt/assets/lib/valine/emoji/" directory
        # you can store your own data files in the same path under your project:
        # "assets/lib/valine/emoji/"
        # emoji 数据文件名称, 默认是 "google.yml"
        # ["apple.yml", "google.yml", "facebook.yml", "twitter.yml"]
        # 位于 "themes/LoveIt/assets/lib/valine/emoji/" 目录
        # 可以在你的项目下相同路径存放你自己的数据文件:
        # "assets/lib/valine/emoji/"
        emoji = ""
        # Facebook comment config (https://developers.facebook.com/docs/plugins/comments)
        # Facebook 评论系统设置 (https://developers.facebook.com/docs/plugins/comments)
        [params.page.comment.facebook]
        enable = false
        width = "100%"
        numPosts = 10
        appId = ""
        # automatically adapt the current theme i18n configuration when empty
        # 为空时自动适配当前主题 i18n 配置
        languageCode = ""
