.featured-image,.featured-image-preview{
  background-color: white;
}

.home-avatar  img {
  border-radius: 24px !important;
}

article.summary {
  > h1 {
    margin-bottom: 0 !important;
  }
  > .content {
    margin-top: 0 !important;
  }
  > .post-meta {
    margin-top: 1.0rem !important;
  }
}

article.page {
  > h1 {
    font-size: 2.2rem !important;
  }
}

.content {
  h2 {
    margin-top: 3.6rem !important;
  }

  h3 {
    margin-top: 2.4rem !important;
  }

  ul > li {
    margin-top: 0.4rem !important;
  }
}




.single .content ul, .single .content ol {
  padding-left: 1.5rem !important;
}
