.home[data-home=posts] {

  .summary {

    .featured-image-preview {
      width: 120%;
      padding: 30% 0 0;
      position: relative;
      margin: 0.6rem auto;
      background-color: white;
      @include transition(transform 0.4s ease);
    }
  }
}
